<h1>All Questions</h1>

<right>
<%@questions.each do |question| %>
<div class="question" >
  <div class="votes" >
    <div class="upvote" @click="vote('up', question)">votes up</div>
    <div class="number-of-votes"> <%=question.get_total_votes%> </div>
    <div class="downvote" @click="vote('down', question)">votes down</div>
  </div>
  <a href="/questions/<%=question.id%>"> <%= question.title %> </a>
</div>
<% end %>
</right>
