<header>
  <h1>CapitanSam Overflow Questions</h1>
</header>


<div class="">
  <ul>
    <%@questions.each do |question| %>
    <div> <%=question.total_votes%> </div>
    <a href="/questions/<%=question.id%>"><li> <%= question.title %> </li></a>
    <% end %>
  </ul>
</div>
