<header>
  <h1>CapitanSam Overflow</h1>
</header>


<div class="">
  <ul>
    <%@questions.each do |question| %>
    <a href="/questions/<%=question.id%>"><li>  <%= question.title %> </li></a> 
    <% end %>
  </ul>
</div>
