<br><br><br>
<center>
<div class="container">
  <%# TODO: figure out where data goes %>
  <form class="" action="/answers" method="post">
    <div class="">
      <label for="body_answer">Description:</label>
      <input type="text" name="answer[body_answer]"  value="Be specific." id='body_question'>
    </div>

    <input class="waves-effect waves-light btn orange lighten-1" type="submit" name="" value="Post Your Answers">
  </form>
</div>
</center>
