<br><br><br>
<div class="">
   <div class="z-depth-1 grey lighten-4 row"  <div class="login_box">
    <div class="">
      <center><p>Log In</p></center>
      <center><label for="username">Username</label></center>
      <input type="text" name="user[username]" value="" id='username'>

    </div>

    <div class="">
    <center><label for="password">Password</label></center>
      <input type="password" name="user[password]" value="" id='password'>

    </div>

  <center><input type="submit" name="" value="Login"></center>
  </form>
</div>
</div>
