<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/normalize.css?app=skills">
    <link rel="stylesheet" href="/css/application.css?app=skills">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


    <title></title>
</head>

<body class='Site'>

  <nav>
    <div class="nav-wrapper  orange lighten-2" >
      <a href="/" style="font-family:'Montserrat', sans-serif;" class="brand-logo">&nbsp; DBC OVERFLOW</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><a href="/questions/new">Post Question</a></li>
          <li><a href="/user/profile"><%=current_user.username%>'s Profile</a></li>
          <li><a href="/user/logout">Logout</a></li>
        <% else %>
        <li><a href="/user/login" style="color: black " >Log In</a></li>
        <li><a href="/user/new" style="color: black " >Sign Up</a></li>
        <% end%>
      </ul>
    </div>
  </nav>
    <%= yield %>
  <main class='Site-content'></main>
    <footer class="page-footer orange lighten-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h1 style="font-family:'Montserrat', sans-serif; color: white">ABOUT US</h1>
            <p class="grey-text text-lighten-4">The website serves as a platform for users to ask and answer questions, and, through membership and active participation, to vote questions and answers up or down and edit questions and answers.</p>
          </div>
          <div class="col l4 offset-l2 s12">
              <% if current_user %>
            <h1 style="font-family:'Montserrat', sans-serif; color: white">QUICK LINKS</h1>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="/questions">All Questions</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Top Answers</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Top Votes</a></li>
              <% end %>
            </ul>
        </div>
    </nav>
  </main>
            <div class="footer-copyright">
                <div class="container" id="remove-margin">
                    © 2017 Capitan Sam
                </div>
            </div>
        </footer>
</body>

</html>
